.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: green;
}

.square {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background: green;
}

.word {
  background: #EDEDF5;
  padding: 8px;
  margin: 5px;
  width: 200px;
}
